@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Beau+Rivage&family=Caveat&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    background-color:black; 
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    margin: auto;
    width: 80%;
    gap: 20px;
}


.welcome{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.welcome p {
    font-size: 24px;
    font-weight: bold;
}

.me {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid white;
    border-radius: 10px;
    padding: 25px;
    gap: 20px;
}


ul {
    margin-left: 20px;
}

.hobbies {
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid white;
    border-radius: 10px;
    padding: 20px;
}

.myhobby {
    justify-content: space-between;
    list-style: none;
    text-align: center;
}

.myhobby img {
    margin-top: 10px;
    width: 30%;
    height: 30%;    
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.circle-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #2833cc;
    background: #b2a6e4;
    border-radius: 5px;
    padding: 5px;
}

a:hover,
a:active,
a:visited {
    color: #2833cc;
}