@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Beau+Rivage&family=Caveat&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    background-color:black; 
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    margin: auto;
    width: 50%;
}

ul {
    margin-left: 20px;
}

.me {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.96);
    border: 5px solid white;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.bg {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.circle-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
