h1 {
    text-align: center;
    margin-top: 10%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.team-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.team-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.team-list img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}