body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #222;
  margin: 20px;
}

h1,
h2 {
  color: #44556a;
}

a {
  color: #095de5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
