@font-face {
    font-family: "Minefont";
    src: url(fonts/minecraftfont.woff) format("woff");
}

h1{
    /* background-color: rgba(63, 93, 170, 0.863); */
    font-size: 5rem;
    font-family: "Minefont";
    color: rgb(28, 190, 77);
    text-align: center;
    width: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    margin: 2rem auto;
    /* border-radius: 9999px; */
    /* border: 2px solid white; */
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

hr{
    width: 70%;
    color: rgb(28, 190, 77); 
    
}

p{
    /* background-color: rgba(39, 42, 49, 0.863); */
    font-size: 20px;
    word-spacing: 0.5em;
    line-height: 1.75em;
    font-family: "Minefont";
    color: rgb(28, 190, 77);
    text-align: justify;
    width: 70%;
    padding: 1rem 3.5rem 1rem 3.5rem;
    margin: 2rem auto;
    /* border-radius: 9999px;
    border: 2px solid darkslategray; */
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

body{
    background-color: rgb(0, 0, 0);
}




