@font-face {
    font-family: "Minefont";
    src: url(fonts/minecraftfont.woff) format("woff");
}

body{
    background-color: rgb(0, 0, 0);
}

h1{
    /* background-color: rgba(63, 93, 170, 0.863); */
    font: 10rem "Minefont";
    color: rgb(28, 190, 77);
    text-align: center;
    width: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    margin: 2rem auto;
    /* border-radius: 9999px; */
    /* border: 2px solid white; */
    text-shadow: 2px 2px 2px white;
    text-decoration: rgb(28, 190, 77) dotted underline;
}

h2{
    font: 3rem "Minefont";
    color: rgb(28, 190, 77);
    text-align: left;
    width: fit-content;
    text-shadow: 2px 2px 2px white;
    text-decoration: rgb(28, 190, 77) underline;
}

hr{
    width: 70%;
    height: 20px;
    border: .40rem solid rgb(28, 190, 77);
    border-radius: 2rem;
}

p{
    /* background-color: rgba(39, 42, 49, 0.863); */
    font:1.25rem "Minefont";
    word-spacing: 0.5em;
    line-height: 1.75em;
    color: rgb(28, 190, 77);
    text-align: justify;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    /*for debugging purposes:*/
    /* background-color: black; */
    
}

ul{
    font:1.25rem "Minefont";
}

.box{
    background-color: rgb(10,10,10);
    width: 68%;
    margin: 0 auto;
    padding: 1rem;
    border: 1rem solid rgb(20,20,20);
    border-radius: 2rem;
    /*for debugging purposes:*/
    /* background-color: aliceblue; */
}

.sub-box{
    width: 35%;
    column-gap: 2rem;
    /*for debugging purposes:*/
    /* background-color: aliceblue; */
}

.verticalList{
    display: flex;
    gap: 6.5rem;
    list-style: square;
    flex-direction: column;
    font:1.25rem "Minefont";
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    color: rgb(28, 190, 77);
    /*for debugging purposes:*/
    /* background-color: aliceblue; */
}

.horizontalList{
    display: flex;
    gap: 0rem;
    list-style: none;
    flex-direction: row;
    font:1.25rem "Minefont";
    text-align: justify;
    color: rgb(28, 190, 77);
    /*for debugging purposes:*/
    /* background-color: aliceblue; */
}

.makeItFit{
    aspect-ratio: auto;
    width: 20rem;
}
